body {
    background-color: #f5d9f5;
    font-family: "Nunito", sans-serif;
}
.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2rem;
}
.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1rem;
    line-height: 2;
}
#mainNavbar  {
   font-size: 1.5rem;
   font-weight: 100;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
}
section span {
    color: #ea1c2c;
}
section h1 {
    font-weight: 100;
}
section {
    margin-bottom: 100px;
}